<nav class="navbar navbar-default navbar-fixed-top">
  <div class="row">
    <div class="logo">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag("logo.svg") %>
      <% end %>
    </div>
    <% if current_page?(root_path) %>
      <h1><i class="fa fa-navicon"></i> Dashboard</h1>
    <% end %>
    <% if current_user %>
      <div class="username">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user usericon" aria-hidden="true"></i> Olá, <%= current_user.name %> <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu animate shadow-box" role="menu" aria-labelledby="dropdownMenu">
          <li><%= link_to "<i class='fa fa-user' aria-hidden='true'></i> Lista de Usuários".html_safe, root_path %></li>
          <li><%= link_to "<i class='fa fa-bar-chart-o' aria-hidden='true'></i> Relatórios".html_safe, root_path %></li>
          <li><%= link_to "<i class='fa fa-flag' aria-hidden='true'></i> Workflow".html_safe, root_path %></li>
          <li><%= link_to "<i class='fa fa-lock' aria-hidden='true'></i> Alterar Dados".html_safe, root_path %></li>
          <li><%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i> Sair".html_safe, root_path, method: :delete %></li>
        </ul>
      </div>
    <% end rescue nil %>
  </div>
</nav>
