<div class="side_content">
  <%= render 'layouts/messages' %>
  <div class="sidebar-nav">
    <div class="side-links">
      <ul>
        <li><a href=""><i class="fa fa-cube" aria-hidden="true"></i> <span>Visão geral</span></a></li>
        <li><a href=""><i class="fa fa-list" aria-hidden="true"></i> <span>Opção 1</span></a></li>
        <li><a href="" class="active"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span>Opção 2</span></a></li>
        <li><a href=""><i class="fa fa-flag" aria-hidden="true"></i> <span>Opção 3</span></a></li>
      </ul>
    </div>
  </div>
</div>
