<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/header' %>
    </header>
    <main>
      <% if content_for(:with_sidebar) == 'true' || current_page?(root_path) # check if page has a sidebar %>
        <%= render 'layouts/sidebar' %>
      <% else %>
        <%= render 'layouts/messages' %>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
