/* Settings

- Colors
- Buttons
- Fonts
- Mixins

To use icons, visit http://fontawesome.io/icons/ and choose icons you want to use on project. Follow the structure: <i class="fa fa-bath" aria-hidden="true"></i>
*/

// Layout

$layout: boxed; // Options: boxed, full

// Colors

$background: #f5f5f5;
$primary: #0CB8B8;
$secondary: #00A9A9;
$dark: #2D2F3B;
$light: #fdfdfd;
$success: #BDF271;
$danger: #ad4b48;
$body: #38322E;


/* Synergia Color Palette
$background: #f5f5f5;
$primary: #D9A000;
$secondary: #37ADBC;
$dark: #1D1B1A;
$light: #ddd;
$success: #4cb992;
$danger: #ad4b48;
$body: #38322E;
*/

// --- Buttons colors

$btn-primary: $secondary;

// Fonts and Headings

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Work+Sans:400,600');

$font-family-text: 'Open Sans';
$font-family-button: 'Work Sans';
$font-family-heading: 'Work Sans';
$font-size: 14px;
$font-bold: 700;
$font-normal: 400;
$font-heading-color: $dark;
$font-body-color: $body;

/* Headings set
Use:  h1 { @include heading-1; } */

@mixin heading {
  font-family: $font-family-heading;
  margin-bottom: 0.35em;
  line-height: 1.2;
  color: $font-heading-color;
}

@mixin heading-1 {
  @include heading;
  font-size: 2.375em;
}

@mixin heading-2 {
  @include heading;
  font-size: 1.966em;
}

@mixin heading-3 {
  @include heading;
  font-size: 1.5em;
}

@mixin heading-4 {
  @include heading;
  font-size: 1.318em;
}

@mixin heading-5 {
  @include heading;
  font-size: 1em;
}

@mixin heading-6 {
  @include heading;
  font-size: 0.875em;
}

h1 { @include heading-1; }
h2 { @include heading-2; }
h3 { @include heading-3; }
h4 { @include heading-4; }
h5 { @include heading-5; }
h6 { @include heading-6; }


// Mixin to linear-gradient left->right. Usage: @include linearGradient(#cccccc, #666666);

@mixin linearGradient($left, $right){
    background: $left; /* Old browsers */
    background: -moz-linear-gradient(left,  $left 0%, $right 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left left, left right, color-sleft(0%,$left), color-sleft(100%,$right)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  $left 0%,$right 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  $left 0%,$right 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  $left 0%,$right 100%); /* IE10+ */
    background: linear-gradient(to right,  $left 0%,$right 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
