/* To animate elements
Use:  @include transition(all,2s,ease-out); */
@mixin transition($what: all, $time: 0.2s, $how: ease-in-out) {
  -webkit-transition: $what $time $how;
  -moz-transition:    $what $time $how;
  -ms-transition:     $what $time $how;
  -o-transition:      $what $time $how;
  transition:         $what $time $how;
}

.shadow-box{
  box-shadow: 0px 2px 6px rgba(76, 82, 89, .1);
  -webkit-box-shadow: 0px 2px 6px rgba(76, 82, 89, .1);
}

.container-mini{
  width: 50%;
}

.form-actions{
  text-align: right;
  margin: 1em 0;
}

.responsive-table{
  padding: 0 20px 20px 20px;
}

.paginate-box{
  padding: 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div{
    width:33.3%;
    &:nth-child(2){
      text-align: center;
      font-size: .9em;
    }
    &:last-child{
      text-align: right;
    }
  }
  .btn{
    margin: 0;
  }
  .pagination_box{
    margin: 13px 0 0 0;
    .pagination{
      display: block;
      a{
        color: $body;
        &:hover{
          color: $primary;
        }
      }
      .page-item{
        padding: 0;
        text-align: center;
        display: inline-block;
        &.active{
          a{
            background-color: $primary;
            border:1px solid $primary;
            color: white;
            box-shadow: 0 1px 5px 0 rgba(0,0,0,.16), 0 1px 10px 0 rgba(0,0,0,.12);
          }
        }
        &.gap{
          display: none;
        }
        a{
          border: none;
        }
      }
      li{
        &.next, &.first, &.prev, &.last{
          a{
            border-radius: 50px;
            text-align: center;
            padding: 10px;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

.dashboard{
  padding: 2% 0;
}
