header{
  h1{
    font-size: 1.4em;
    font-weight: $font-normal;
    margin: 1.4em 0 0 1.4em;
    text-transform: uppercase;
    color: lighten($primary, 5%);
      }
  i{
    font-size: 1.2em;
  }
  .navbar{
    padding: 0 15px;
    margin: 0;
    justify-content: center;
    &-default{
      min-height: 74px;
      background-color: $secondary !important;
    }
    &.side{
      margin-bottom: 0;
    }
    h2{
      font-family: $font-family-heading;
      font-weight: 400;
      font-size: 1.3em;
      text-transform: uppercase;
      color: $light;
      padding: 25px 0 0 25px;
      opacity: .4;

    }
    .logo{
      padding: 18px 0;
      background-color: $primary;
      text-align: center;
      width: 25%;
      max-width: 20em;
    }
    .optmenu{
      color: $light;
      background-color: $body;
      a{
        padding: 22px 0 0 0;
        color: $light;
        opacity: .7;
        width: 100%;
        display: block;
        height: 100%;
        font-size: 1.2em;
        &:hover{
          background-color: lighten($body, 10%);
          opacity: .9;
          i{
            color: lighten($light, 10%);
          }
        }
      }
      i{
        font-size: 1.3em;
        opacity: .4;
        position: relative;
        top: 3px;
        }
      }
    .-nav{
      li{
        a{
          padding-top: 25px;
        }
      }
    }
    .username{
      position: absolute;
      top: 22px;
      right: 30px;
      color: $light;
      font-size: 1.2em;
      a{
        margin-top: 0;
        text-transform: none;
        letter-spacing: 0;
        color: $light;
        white-space: nowrap;
        &.dropdown-toggle{
          &:hover{
            color: lighten($light, 10%);
          }
        }
        i{
          color: $light;
          font-size: .8em;
          margin-left: 10px;
          position: relative;
          right: 0;
          top: 1px;
        }
      }
      .usericon{
        font-size: 1.2em;
        top: .05em;
        position: relative;
        padding: 5px;
        margin-right: 10px;
        background: lighten($body, 10%);
        border-radius: 50%;
      }
      .dropdown-toggle::after {
        display: none;
      }
      .dropdown-menu{
        padding: 0;
        border-radius: 0;
        border: 0;
        left: auto;
        right: 0;
        top: 40px;
        min-width: 16em;
        background-color: $dark;
        opacity: 0;
        li{
          position: relative;
          a{
            display: block;
            padding: 14px 20px;
            color: $light;
            font-size: .9em;
            &:hover{
              background-color: lighten($body, 10%);
              i{
                color: $light;
              }
            }
            i{
              font-size: 1.2em;
              top: .9em;
              position: absolute;
              right: 20px;
              color: lighten($body, 10%);
            }
          }
        }
      }
      &.show
        .dropdown-menu{
          opacity: 1;
      }
    }
  }

  .nav-tabs > li > a {
    border-radius: 2px 2px 0 0;
  }

  .nav-tabs {
    li {
      border-radius: 2px;
    }

    a,
    a.dropdown-toggle {
      color: $dark;
    }
  }

  .navbar-default {
    background: $dark;
    border: 0;
  }

  .dropdown-header.open {
    &::after {
      content: "\f13a" !important;
      position: absolute;
      right: 15px;
      color: lighten($light, 10%);
    }
  }

  .dropdown-header:hover {
    background: $light;
  }

  .dropdown-header.active {
    border-left: 5px solid $light;
  }


  .navbar-default .navbar-nav > li > a,
  a {
    &:hover {
      color: $dark;
    }
    color: $body;
  }

  .navbar-header {
    margin-left: -15px;
    background-color: $dark;
  }

  a.navbar-brand {
    line-height: 25px;
    padding: 5px 15px ;
    white-space: nowrap;
    margin: 0;
    color: lighten($light, 10%) !important;
    cursor: pointer !important;
    img{
      max-width: 82%;
    }
  }
}
.page-header {
  margin-top: 0;
  h1 {
    padding: 10px 0;
    color: $body;
    text-transform: uppercase;
    margin-top: 0;
  }
}
