.wrap-flex{
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box{
  text-align: center;
  min-width: 400px;
  max-width: 600px;
  height: auto;
  background-color: #fff;
  padding: 50px;
  img{
    max-width: 70%;
    margin-bottom: 20px;
  }
  div{
    width: 100%;
  }
  .form-group{
    label::before{
      font-family: 'icomoonn' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      // content: "\eaf7";
    }
    &.user_password{
      label::before{
        // content: "\eb50";
      }
    }
    .control-label{
      position: relative;
      abbr[title] {
        position: absolute;
        right: -10px;
        cursor: none;
        text-decoration: none;
      }
    }
  }
  .form-control{
    border: 1px solid #ddd;
  }
  .form-actions{
    margin: 30px 0 0 0;
  }
}
