/* Overrides Bootstrap classes

- Generals
- Forms
- Buttons

*/


// Generals

html, body, main, .side_content {
  height: 100%;
}

body{
  background-color: $background;
  font-size: $font-size;
  font-family: $font-family-text;
}

a, .btn, a i, .btn i, .dropdown-header {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration:none;
  }
}


// Forms

label {
    font-size: .8em;
    font-weight: $font-bold;
    margin: 10px 0 5px 0;
}

.form-control {
    border-radius: 0;
    margin-right: 10px;
    border: 1px solid $light;
}

input, select{
  &:not([type="radio"]){
  padding: 10px 15px;
  border-radius:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.1em;
  }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: transparent !important;
}

input[type="checkbox"]{
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
.btn:focus,
select:focus {
  outline: none !important;
  box-shadow:none !important;
}

input[type=text]:focus,
select:focus,
textarea:focus {
 box-shadow: 0 0px 0 0 $dark !important;
 border: 1px solid $dark !important;
}


// Buttons

.btn {
  border: 1px solid transparent;
  border-radius: 0;
  font-family: $font-family-button, sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 11px 20px;
  color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.16), 0 1px 10px 0 rgba(0,0,0,.12);
  overflow: hidden;
  margin: 15px 0 0 0;
  i{
    padding: 0 17px 0 0;
    position: relative;
    top: 0;
    right: -20px;
  }
  &:hover{
    i{
      z-index: 3;
    }
  }
  &-primary{
    background-color: $primary;
    border: 1px solid $primary;
    &:hover{
      background-color: darken($primary,10%);
      border: 1px solid darken($primary,10%);
    }
  }
  &-danger{
    border: 1px solid $danger;
    color: $danger;
    background-color: transparent;
    &:hover{
      background-color: $danger;
      border: 1px solid $danger;
    }
  }
}

// Alerts

.alert {
  border-radius: 0;
  &-info {
    background-color: $secondary;
    border: 0;
    color: white;
  }

  &-success {
    background-color: $success;
    border: 0;
    color: white;
  }

  &-danger {
    background-color: $danger;
    border: 0;
    color: white;
  }
  button{
    outline: none;
    top:-.6em !important;
    i{
      font-size: .82em;
    }
    &:hover{
      color: #fff;
    }
  }
}

// Tables

.table{
  padding: 0 0 40px;
  background-color: white;
  thead{
    text-transform: uppercase;
    font-family: "Work Sans";
    font-size: .95em;
    font-weight: 600;
    border-top: 1px solid $background;
    th{
      padding: 15px;
    }
  }
  tbody{
    border: 1px solid $background;
    border-top: 5px solid $background;
    .t_mini{
      font-size: .7em;
      text-transform: uppercase;
      max-width: 100px;
      line-height: 1.3em;
    }
    a{
      &:hover{
        background-color: transparent !important;
      }
    }
    i{
      font-size: 1.3em;
    }
    tr{
      &:nth-of-type(odd){
        background-color: lighten($light, 11%);
      }
    }
    td:last-child{
      text-align: right;
      white-space: nowrap;
      a{
        padding: 0 .4em;
      }
    }
  }
  td, th{
    border:none !important;
    padding: 10px 15px;
    font-size: 1em;
    img{
      max-width: 2em;
    }
  }
  .responsive-table{
    width: 100%;
    padding: 0 25px 40px 25px;
  }
  .btn-wrap{
    padding: 0 10px;
  }
  .-striped {
  border: 1px solid #eee;
    td{
      padding: 18px 11px;
      line-height: 1.1em;
    }
  }
}

// Page header

.jumbotron{
  position: relative;
  border-radius: 0;
  border-top: 10px solid $primary;
  background: lighten($background, 2%);
  padding: 2em;
  overflow: hidden;
  h1{
    font-size: 1.7em;
    text-transform: capitalize;
  }
  i{
    position: absolute;
    right: 4%;
    font-size: 5em;
    top: 0;
    opacity: .06;
  }
}

.page-header{
  margin-top: 3em;
  margin-bottom: 1em;
  h1{
    text-transform: none;
  }
  [class*='col-']:last-child{
    text-align: right;
  }
}

.breadcrumb {
  @extend .page-header;
  border-radius: 0;
  border: none;
  padding: 1.3em 0;
  background-color: $background;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9em;
  font-family: $font-family-heading, sans-serif;
  a{
    font-weight: 600;
    &:hover{
      color: $dark;
    }
  }
  i{
    font-size: .8em;
    color: $dark;
    margin: 0 5px;
  }
}

// Cards

.card{
  border: none;
  border-radius: 0;
  margin: 0 0 4em 0;
  @if $layout == boxed {
    @extend .shadow-box;
  }
  .card-block{
    padding: 2em;
    h3{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: .9em;
      opacity: .4;
      margin: 0 0 0 0;
      ::before{
        border-bottom: 1px solid $dark;
      }
    }
  }
}
