.side_content{
  @include linearGradient($dark, lighten($dark, 2%));
  width: 25%;
  max-width: 20em;
  float: left;
  h2{
    font-size: 1.2em;
    font-weight: 400;
    color: $light;
    background-color: darken($body, 4%);
    padding: 25px 10px 25px 58px;
    position: relative;
    i{
      color: $success;
      font-size: 1.3em;
      position: absolute;
      top: 1.2em;
      left: 1em;
    }
  }
  .side-links{
    padding: 0 0 20px 0;
    font-size: 1em;
    h2{
      font-size: 1.1em;
      margin-bottom: 0
    }
    h3{
      font-size: 1em;
      color: lighten($dark, 4%);
      font-weight: 400;
      margin: 0;
      text-transform: none;
    }
    p{
      font-size: 1.1em;
      color: $light;
    }
    ul{
      color: $light;
      font-weight: 300;
      li{
        a{
          padding: 20px 0;
          width: 100%;
          display: block;
          color: lighten($dark,40%);
          &.active{
            font-size: 1em;
            background-color: darken($dark, 4%);
            border-left: 5px solid $secondary;
            span{
              padding-left: 25px;
            }
          }
        }
        span{
          padding: 10px 0 10px 30px;
          font-size: 1em;
        }
        i{
          font-size: 1.5em;
          top: .1em;
          left: 20px;
          position: relative;
          color: lighten($dark,40%);
        }
        ul{
          margin: 14px 0 0 0;
          li{
            border: none;
            padding: 7px 0 4px 56px;
            color: $light;
            opacity: .8;
            font-weight: 300;
            &:last-child{
              margin-bottom: 15px;
              padding-bottom: 15px
            }
          }
        }
      }
    }
  }
}
